$box-shadow:
  0 4px 6px rgba(0, 0, 0, 0.1),
  0 1px 3px rgba(0, 0, 0, 0.08);
$sidebar-width: 220px;
$sidebar-bg: #27272a;
$hover-bg: rgba(255, 255, 255, 0.1);
$sidebar-text-color: #a1a1aa;
$selected-item-color: #fafafa;
$heading-color: #525252;
$heading-border-color: #525252;
$transition-speed: 0.3s;

.scrollable-row {
  position: relative;
  display: flex;
  overflow-x: auto;
  gap: 24px;
  padding: 20px 0;
  border-top: 1px solid #52525b;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  div {
    color: gray;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 20px;
  }
  p {
    color: gray;
    font-weight: 600;
    font-size: 16px;
  }
}

.artist {
  position: relative;
  scroll-snap-align: center;
  min-width: 200px;
  padding-inline: 5px;
  cursor: pointer;

  img {
    min-width: 100px;
    max-width: 200px;
    border-radius: 8px;
    object-fit: cover;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    box-shadow: 1px 1px 3px rgb(115, 147, 179);

    &:hover {
      transform: scale(1.03);
      filter: brightness(0.8);
      box-shadow: 1px 1px 3px #5f5a8f;
    }
  }

  p {
    color: #a1a1aa;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
  }

  .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;

    .play-img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }

  &:hover .play-btn {
    opacity: 1;
  }
}
